/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* CSS Variables */
:root {
    --backdark: #174069;
    --backlight: #c1d9f2;
    --text-color-alt: #fff;
    --text-color: black;
}

/* 
=========================
   GLOBAL STYLES
/* body main */
body {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    background-color: var(--backlight);
    color: var(--text-color)
    padding 0;
    margin: 0;
}
/* Navbar main style */
.header {
    background-color: var(--backdark);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--text-color-alt);
    font-size: 1.5rem;
    font-weight: bold;
    
}
.nav a {
    color: var(--text-color-alt);
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
    flex-direction:row;
    font-size: 1.2rem;
}

.nav a:hover {
    text-decoration: underline;
}

/* Main section */

/* Intro section */

.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.intro-bild {
    width: 100%;
    display: block;
}

.intro-text {
    padding: 1rem;
    text-align: center;
}

.intro-text h1 {
    font-size-adjust: 130%;
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .intro-grid {
        grid-template-columns: 1fr;
        text-align: center;   
    }
}
